{
  "TG_ADMIN_ID": [ 0000000000 ],
  "TG_BOT_TOKEN": "0000000000:AAAA-AA-AAAAAAAA_AAAAAAAAAAA-AAAAAA",
  "HYDRUS_TOKEN": "00af00af00af00af00af00af00af00af00af00af00af00af00af00af00af00af",
  "TIME_TO_SLEEP": 120,
  "TAGS_NAMESPACE": "my tags",
  "DESTINATION_PAGE_NAME": "HC",
  "TEMP_PATH": "temp",
  "CONTENT_TYPES": [ "photo", "video", "animation", "video_note", "audio", "voice", "document", "text" ]
}